@import "https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css";
@import "../node_modules/bootstrap/scss/bootstrap";

$font-family-sans-serif:'pretendard';
$primary: #4e8486;
$secondary: #4b5e57;
$dark: #2F4F50;

$tkth1: normal 300 50px 'pretendard',sans-serif;
$letsp: -0.8px;

.test{
  font: $tkth1;
  letter-spacing: $letsp;
}